* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 1.5rem;
}

p {
}

.icon {
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* sidebar */ 
#sidebar {
    background-color: rgb(246, 242, 242);
    padding: .75rem;
}

#profile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#name-section {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-weight: 600;
}

.icon {
    width: 1rem;
}

.round-pic {
    width: 1.5rem;
    border-radius: .75rem;
}

#projects-sidebar {
    margin-top: 2rem;
}

#my-projects-row {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#projects-sidebar div, #tasks-sidebar div {
    display: flex;
    gap: .5rem;
}

/* task styling */

#task-section, #projects-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.task {
    background-color: lightblue;
    padding: 1rem;
    width: 15rem;
    border-radius: 1rem;
}

.task p {
    margin: 1rem 0;
}
